<tr height="30"></tr>
<tr class="row row-color">
  <td class="col-11 dep-c font-weight-bold p-4">
    <%= wing.name %>
  </td>
  <td class="col-1 p-4">
    <%= link_to wing_path(wing), class: 'dep-next' do %>
      <i class="material-icons dep-c">label_important</i>
    <% end %>
  </td>
</tr>
